*{box-sizing: border-box;}

body,
html {
    background-color: rgb(34, 34, 34);

}

.container{
    font-family: sans-serif;
    background-color: white;
    padding-bottom: 21%;
    margin: auto;
    padding-top: 20px;
}

img{
    align-items: center;
}
