*{box-sizing: border-box;} 

body,
html {
    background-color: rgb(34, 34, 34);
    color: #000;

}

.container{
    font-family: sans-serif;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20%;
    margin: auto;
}

img{
    align-items: center;
}

#carouselExampleCaptions{
    padding: 2% 0 2% 0;
}

@media only screen and (max-width: 5000px){
    #banner-video{
        background-size: cover;
        background-image: url("../img/banner.jpg");
        background-position: center center;
        background-attachment: fixed;
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        padding: 200px 0;
    }
}

#banner-video img{
    width: 80px;
    height: 80px;
    position: relative;
    align-content: center;

}

#carouselExampleCaptions{
    background-position: center;
    padding-left: 2%;
    padding-right: 2%;
}
.fotonoticia {
    width: 100%;
}
.fotonoticia img{
    width: 100%;
}